
*{
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #202124;

}

header{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding: 6px 14px;
}

h1 {
    color:red;
}

.logo-google {
    height: 92px;
    display: block;
    margin: 50px auto 20px auto;  
}

a{
    text-decoration: none;
    color: #000000de;
    font-size: 13px;
}

.link-cabecalho{
    color: #000000de;
    font-size: 13px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: Arial, sans-serif;
    
}


.apps {
    width: 24px;
    fill: rgb(8, 8, 8);
}

.button{
    border: aqua;
    color: aliceblue;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    
}

footer{
    background-color: aliceblue;
}

.caixa-rodape{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.caixa-rodape--borda{
    border-bottom: 1px solid rgb(202, 202, 202);
}

.caixa-links{
    display: flex;
    gap: 30px;
}

.caixa-link{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.botao-login{
    background-color: #0b57d0; 
    color: white; 
    padding: 12px 10px;
    border: none; 
    border-radius: 100px; 
    font-size: 14px; 
    cursor: pointer; 
    }
    
    .botao-login:hover {
    background-color: #2569d6f8; 
    }

    .link-cabecalho:hover{
        border-bottom: 1px solid black; 
        text-decoration: none; 
    }

.caixa-links a{
    position: relative;
}

.caixa-links a:hover{
    border-bottom: 1px solid black;
    text-decoration: none;
}

.caixa-link a{
    position: relative;
}

.caixa-link a:hover{
    border-bottom: 1px solid black;
    text-decoration: none;
}

.caixa-icone{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

}

.tooltip{
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding:5px  10px;
    border-radius:5px;
    font-size:12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.caixa-icone:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.caixa-input {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    width: 500px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px; 
    box-sizing: border-box; 
}

.input-pesquisa {
    flex: 1;
    height: 34px;
    padding: 0 10px;
    border: none;
    border-radius: 100px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.input-pesquisa:hover,
.input-pesquisa:focus {
    border-color: #4a4a4b; 
    box-shadow: 0 0 10px rgba(74, 74, 75, 0.6); 
}

.icone-input{
    width: 20px;
    min-width: 20px;
    fill: #9aa0a6;
    align-self: center;
}

.icone-input:hover + .tooltip{
visibility: visible;
opacity: 1;
}

.icone-colorido{
width: 24px;
height: 24px;
fill: #9aa0a6;
align-self: center;
}

.icone-teclado{
width: 22px;
height: 12px;
fill: #9aa0a6;
align-self: center;
}

.caixa-icone img, .caixa-icone svg{
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
}

.botao{
background-color: white;
color: black;
padding: 10px 12px;
border: 1px solid transparent;
border-radius: 10px;
font-size: 14px;
cursor: pointer;
}

.botao:hover{
    border: 1px solid rgb(199, 197, 197);
}

.caixa-botoes{
    display:flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.glogo {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-dispon {
    margin-top: 20px; 
}

.portuga {
    color: blue;
}

.icons {
    display: flex;
    gap: 8px;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.icons .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

